.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Rajdhani', sans-serif;
}

.Navbar-logo {
  object-fit: contain;
  border: none;
  background: none;
  cursor: pointer;
}

.Navbar-logo img {
  height: 78px;
  margin-right: 10px;
}

.Navbar-title {
  flex: 1;
  margin-left: 10px;
  font-size: 20px;
  text-decoration: underline;
}

.Navbar-tabs {
  display: flex;
}

.Navbar-tab {
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  margin-right: 60px;
  display: inline-block;
}

.Navbar-tab.active {
  position: relative;
}

.Navbar-tab.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  height: 1px;
  background-color: rgb(255, 255, 255);
}