.ticket-detail-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 95%;
  max-width: 1200px;
  box-sizing: border-box;
}

.ticket-detail-page h1 {
  font-size: 2vw; /* Utilisation d'unités viewport pour une taille de police responsive */
  font-weight: bold;
  color: #000000;
  margin-bottom: 10px;
  align-self: flex-start;
}

.ticket-detail-page p {
  font-size: 1.5vw; /* Utilisation d'unités viewport pour une taille de police responsive */
  color: #000000;
  margin: 0 0 20px;
}

.reply-section {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.reply-icon {
  cursor: pointer;
  color: #000000;
}

.reply-box {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 90%;
}

.reply-box textarea {
  width: 90%;
  height: 50px;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 1.2vw; /* Utilisation d'unités viewport pour une taille de police responsive */
  font-family: "Arial", sans-serif;
  margin-left: 75px;

}

.reply-box button {
  display: none;
}

.replies-section {
  margin-top: 20px;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.reply-timestamp {
  color: #000000;
  margin-top: 5px;
  align-self: flex-end;
}

.reply-text {
  font-size: 1.5vw; /* Utilisation d'unités viewport pour une taille de police responsive */
  color: #000000;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  align-self: flex-end;
}

/* Media Queries pour ajuster les tailles des éléments et polices en fonction des écrans */
@media screen and (max-width: 1200px) {
  .ticket-detail-page h1 {
    font-size: 3vw; /* Ajuste la taille de la police pour les écrans moyens */
  }

  .ticket-detail-page p {
    font-size: 2vw; /* Ajuste la taille de la police pour les écrans moyens */
  }

  .reply-box textarea {
    font-size: 1.6vw; /* Ajuste la taille de la police pour les écrans moyens */
  }

  .reply-text {
    font-size: 2vw; /* Ajuste la taille de la police pour les écrans moyens */
  }
}

@media screen and (max-width: 768px) {
  .ticket-detail-page h1 {
    font-size: 4vw; /* Ajuste la taille de la police pour les petits écrans */
  }

  .ticket-detail-page p {
    font-size: 3vw; /* Ajuste la taille de la police pour les petits écrans */
  }

  .reply-box textarea {
    font-size: 2vw; /* Ajuste la taille de la police pour les petits écrans */
  }

  .reply-text {
    font-size: 3vw; /* Ajuste la taille de la police pour les petits écrans */
  }
}

@media screen and (max-width: 480px) {
  .ticket-detail-page h1 {
    font-size: 5vw; /* Ajuste la taille de la police pour les très petits écrans */
  }

  .ticket-detail-page p {
    font-size: 4vw; /* Ajuste la taille de la police pour les très petits écrans */
  }

  .reply-box textarea {
    font-size: 2.5vw; /* Ajuste la taille de la police pour les très petits écrans */
  }

  .reply-text {
    font-size: 4vw; /* Ajuste la taille de la police pour les très petits écrans */
  }
}
