.center-text-actif {
  font-family: "Bolt-italic", sans-serif;
  font-size: 2vw; /* Utilisation d'unités viewport pour une taille de police responsive */
  font-weight: 500;
  color: #000000;
  text-decoration: underline;
  margin-left: -250px; /* Utilisation de auto pour centrer horizontalement */
  margin-right: auto;
  font-style: italic;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: block;
  text-align: center;
  padding: 10px; /* Ajout de padding pour un peu d'espace autour du texte */
}

/* Media Queries pour ajuster les tailles des polices et des marges en fonction des écrans */
@media screen and (max-width: 1200px) {
  .center-text-actif {
    font-size: 3vw; /* Ajuste la taille de la police pour les écrans moyens */
    margin-left: -200px; /* Utilisation de auto pour centrer horizontalement */
    margin-right: auto;
  }
}

@media screen and (max-width: 768px) {
  .center-text-actif {
    font-size: 4vw; /* Ajuste la taille de la police pour les petits écrans */
    margin-left: -150px; /* Utilisation de auto pour centrer horizontalement */
    margin-right: auto;
  }
}

@media screen and (max-width: 480px) {
  .center-text-actif {
    font-size: 5vw; /* Ajuste la taille de la police pour les très petits écrans */
    margin-left: -100px; /* Utilisation de auto pour centrer horizontalement */
    margin-right: auto;
  }
}
