.ticket-detail-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

.ticket-detail-page h1 {
  font-size: 3vw; /* Utilisation d'unités de viewport pour la taille de la police */
  font-weight: bold;
  color: #000000;
  margin-bottom: 10px;
  align-self: flex-start;
}

.ticket-detail-page p {
  font-size: 2vw; /* Utilisation d'unités de viewport pour la taille de la police */
  color: #000000;
  margin: 0 0 20px;
}

.reply-section {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.reply-icon {
  cursor: pointer;
  color: #000000;
}

.reply-box {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.reply-box textarea {
  width: 100%;
  height: 50px;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 2vw; /* Utilisation d'unités de viewport pour la taille de la police */
  font-family: "Arial", sans-serif;
}

.reply-box button {
  display: none;
}

.replies-section {
  margin-top: 20px;
  width: 90%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.reply-timestamp {
  color: #000000;
  margin-top: 5px;
  align-self: flex-end;
  font-size: 1.5vw; /* Utilisation d'unités de viewport pour la taille de la police */
}

.reply-text {
  font-size: 2vw; /* Utilisation d'unités de viewport pour la taille de la police */
  color: #000000;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  align-self: flex-end;
}

/* Ajustements pour les écrans de taille moyenne */
@media screen and (max-width: 768px) {
  .ticket-detail-page h1 {
    font-size: 5vw;
  }

  .ticket-detail-page p {
    font-size: 4vw;
  }

  .reply-box textarea {
    font-size: 4vw;
  }

  .reply-timestamp {
    font-size: 3vw;
  }

  .reply-text {
    font-size: 4vw;
  }
}

/* Ajustements pour les petits écrans */
@media screen and (max-width: 480px) {
  .ticket-detail-page {
    padding: 10px;
  }

  .ticket-detail-page h1 {
    font-size: 6vw;
  }

  .ticket-detail-page p {
    font-size: 5vw;
  }

  .reply-box {
    width: 100%;
  }

  .reply-box textarea {
    font-size: 5vw;
    padding: 5px;
  }

  .reply-timestamp {
    font-size: 4vw;
  }

  .reply-text {
    font-size: 5vw;
    padding: 5px;
  }
}
