/* Ticket en cour */

.tickets-page-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 200px;
}

/* Création nouveau ticket  */

.creation-ticket-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: 2vh 2vw;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(44, 51, 61, 0.67);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 90vh;
  max-width: 90vw;
  padding: 2vh 2vw;
}

.close-button {
  background-color: transparent;
  border: none;
  color: #ffffff;
  position: absolute;
  top: 3rem;
  right: 28vw;
}

.input-titre {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 40px;
  margin-top: 3vh;
}

.input-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 5vh;
}

.PJ {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-top: 3vh;
  margin-left: 30vh;
}

.file {
  margin-left: 2vw;
}

.file-info {
  width: 40%;
  text-align: left;
  margin-left: 1vw;
  color: rgb(41, 127, 181);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 2vh;
}

.quit-send {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
  margin-top: 3vh;
}

.quit {
  background-color: transparent;
  border: none;
  color: #7C90AF;
}

.send {
  margin-left: auto;
}

@media (max-width: 768px) {
  .close-button {
    right: 0vw;
  }

  .file-info {
    width: 25%;
    margin-left: 3vw;
    margin-top: 2vh;
  }
}

@media (max-width: 350px) {
  .PJ {
    margin-left: 20vh;
  }

  .quit-send {
    width: 70%;
  }
}