.filters {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 100%;
}

.filter-container {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  position: relative;
}

.filter {
  font-weight: bold !important;
  transition: color 0.3s ease !important;
  color: #7C90AF !important;
  border: none !important;
  background-color: transparent !important;
  font-size: 18px !important;
  padding: 1vh 2.5vw;
}

.filter:hover,
.filter:focus,
.create-ticket-button:hover {
  color: rgba(232, 163, 130, 1) !important;
}

.create-ticket-button {
  background-color: #7c90af !important;
  border: none !important;
  border-radius: 50px !important;
  font-weight: bold !important;
  transition: background-color 0.3s ease, color 0.3s ease !important;
  font-size: 18px !important;
  margin-top: -10px;
}

@media (max-width: 400px) {
  .filter {
    font-size: 10px !important;
    padding: 5px !important;
  }

  .create-ticket-button {
    padding: 5px 10px !important;
    font-size: 10px !important;
  }
}