.navbar {
  background-color: #343a4089 !important;
  color: #ffffff;
  font-weight: bold;
  padding: 10px;
}

.navbar-logo {
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.navbar-logo img {
  width: 70px;
  height: auto;
}

.navbar-brand {
  font-size: 1.5rem !important;
  color: #ffffff !important;
  text-decoration: underline !important;
  padding: 10px;
  margin-left: 10px;
  white-space: nowrap;
}

.navbar-toggler {
  border: none;
  margin-right: 20px;
}

.navbar-nav {
  display: flex;
  justify-content: flex-end;
  flex-direction: row !important;
  gap: 30px;
}

.nav-item {
  text-align: right;
}

.rien {
  background-color: transparent !important;
}

.nav-link {
  color: #ffffff !important;
  transition: color 0.3s;
  cursor: pointer;
  padding-right: 15px;
}

.rien2 {
  color: transparent !important;
}

.nav-link:hover {
  color: #cccccc !important;
}

.nav-link.active {
  border-bottom: 1px solid #ffffff !important;
  padding-bottom: 1px;
}

@media (max-width: 992px) {
  .navbar-logo img {
    width: 50px;
  }

  .navbar-brand {
    font-size: 1rem !important;
    margin-left: 5px;
  }

  .navbar-nav {
    justify-content: flex-end;
    flex-direction: row !important;
    gap: 10px;
  }

  .nav-link {
    padding: 10px;
  }
}

@media (max-width: 368px) {
  .navbar-brand {
    font-size: 0.8rem !important;
    margin-left: 5px;
  }

  .navbar-logo img {
    width: 50px;
  }
}