.badge {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1vh 1vw;
  border-radius: 4px;
}

.status-badge.repondu {
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
  padding: 0.5vh 3vw;
  border-radius: 30px;
}

.status-badge.en-attente {
  color: #C09D68;
}

.status-badge.ferme {
  color: #3B343E;
}