.table-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(115, 131, 158, 0.2) transparent;
  width: 100%;
  max-height: 38vh;
  background-color: transparent;
}

.table-wrapper {
  width: 100%;
  border-collapse: collapse;
  font-size: 1em;
}

.table-wrapper th, .table-wrapper td {
  padding: 2vh 3vw;
  text-align: center;
  font-size: 0.9em;
}

.table-wrapper th {
  position: sticky;
  top: 0;
  background-color: #252B35;
  z-index: 1;
}

.even-row {
  background-color: transparent;
  font-size: 1em;
  font-weight: bold;
}

.odd-row {
  background-color: #252B35;
  font-size: 1em;
  font-weight: bold;
}

@media (max-width: 992px) {
  .table-wrapper th, .table-wrapper td {
    font-size: 0.8em;
  }
}

@media (max-width: 768px) {
  .table-container {
    max-height: 32vh;
  }

  .table-wrapper th, .table-wrapper td {
    font-size: 0.7em;
    padding: 2vh 2vw;
  }
}

@media (max-width: 576px) {
  .table-wrapper th, .table-wrapper td {
    font-size: 0.6em;
  }
}