.textarea {
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: #4C566A;
  color: #D8DEE9;
  resize: none;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #2C3442 transparent;
}

.textarea::placeholder {
  color: #adadad;
}