.button-new-ticket {
  background-color: #7c90af;
  border-radius: 50px;
  width: 160px;
  height: 30px;

  font-family: 'Rajdhani', sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;

  color: #fbf8ed;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease;

  position: absolute;
  top: 35px;
  left: 90%;
  transform: translateX(-50%);
}

.button-new-ticket:hover {
  opacity: 0.8;
}

@media (max-width: 1200px) {
  .button-new-ticket {
    width: 140px;
    font-size: 16px;
  }
}

@media (max-width: 992px) {
  .button-new-ticket {
    width: 120px;
    font-size: 14px;

  }
}

@media (max-width: 768px) {
  .button-new-ticket {
    width: 100px;
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  .button-new-ticket {
    width: 80px;
    font-size: 10px;
  }
}
