.text-component-blue {
  font-family: 'Rajdhani', sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;

  color: #7C90AF;
  transition: color 0.3s ease;
}

.text-component-blue.selected {
  font-family: 'Rajdhani', sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;

  color: rgba(232, 163, 130, 1);
}