.status-badge.repondu {
  background-color: #689752;
  color: white;
  border: none;
  cursor: pointer;
  padding: 1vh 2vw;
  border-radius: 30px;
}

.status-badge.repondu:hover {
  background-color: #3a6723;
  color: #989898;
}

.status-badge.en-attente {
  color: #C09D68;
}

.status-badge.ferme {
  color: #493c3c;
}