.filter-header {
  width: 100%;
  color: #fff;
}

.nav-button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

.nav-button:hover {
  color: #f7a69a;
}