/* .rounded-rectangle {
  width: 90%;
  max-width: 1161px;
  height: 70vh;
  max-height: 90vh;
  background-color: rgba(43, 51, 65, 0.8);
  backdrop-filter: blur(10px);
  border-radius: 15px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  box-sizing: border-box;
  overflow: auto;
} */

.rounded-rectangle {
  width: 90vw; /* Utilisation de vw pour une largeur relative */
  max-width: 1161px; /* Largeur maximale */
  height: 70vh; /* Utilisation de vh pour une hauteur relative */
  max-height: 90vh; /* Hauteur maximale */
  background-color: rgba(43, 51, 65, 0.8);
  backdrop-filter: blur(10px);
  border-radius: 15px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem; /* Utilisation de rem pour un padding fluide */
  box-sizing: border-box;
  overflow: auto; /* Pour permettre le défilement si le contenu dépasse */
}

/* Styles spécifiques pour les appareils mobiles */
@media only screen and (max-width: 768px) {
  .rounded-rectangle {
    width: 95vw; /* Augmentation de la largeur relative pour les petits écrans */
    height: 80vh; /* Augmentation de la hauteur relative pour les petits écrans */
    padding: 1rem; /* Réduction du padding pour les petits écrans */
  }
}
