/* .table-container {
  overflow-y: auto;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(115, 131, 158, 0.2) transparent;
  width: 100%;
  max-height: 60vh;
  margin-top: -35vh;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1em;
}

.custom-table th, .custom-table td {
  padding: 0.5em;
  text-align: center;
}

.custom-table th {
  position: sticky;
  top: 0;
  background-color: #252B35;
  z-index: 1;
}

.even-row {
  background-color: transparent;
  color: white;
  font-family: 'Rajdhani', sans-serif;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
}

.odd-row {
  background-color: #252B35;
  color: white;
  font-family: 'Rajdhani', sans-serif;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
}

.ferme-row td {
  color: rgba(58, 67, 82, 0.8);
} */

.table-container {
  display: flex; /* Utilisation de flexbox */
  flex-direction: column;
  overflow-y: auto;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(115, 131, 158, 0.2) transparent;
  width: 100%;
  max-height: 60vh;
  margin-top: -35vh;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1em;
}

.custom-table th, .custom-table td {
  padding: 1vh 5vw; /* Utilisation de vh et vw pour des paddings relatifs */
  text-align: center;
}

.custom-table th {
  position: sticky;
  top: 0;
  background-color: #252B35;
  z-index: 1;
}

.even-row {
  background-color: transparent;
  color: white;
  font-family: 'Rajdhani', sans-serif;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
}

.odd-row {
  background-color: #252B35;
  color: white;
  font-family: 'Rajdhani', sans-serif;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
}

.ferme-row td {
  color: rgba(58, 67, 82, 0.8);
}

/* Styles spécifiques pour les appareils mobiles */
@media only screen and (max-width: 768px) {
  .table-container {
    margin-top: -20vh; /* Ajuste la marge pour les petits écrans */
  }

  .custom-table th, .custom-table td {
    padding: 0.5vh 1vw; /* Réduction du padding pour les petits écrans */
    font-size: 0.9em; /* Réduction de la taille de police pour les petits écrans */
  }

  .even-row, .odd-row {
    font-size: 0.9em; /* Réduction de la taille de police pour les petits écrans */
  }
}
